<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   <style>
   body {
	   font-family: sans-serif;
     padding: 5px;
   }

   td {
	   text-align: center;
   }
   .sky_logo {
     width:186px;
     height:116px;
   }




   </style>
 </head>
 <body>
   <img src="https://upload.wikimedia.org/wikipedia/commons/5/54/Sky_logo_2014.png" class="sky_logo">
   <h1>Hello</h1>

   <p>
     This is email is to notify that there has been some changes to the website:<br>
   </p>


   <p>
     Please click on the link below to view changes.

     <p><%= link_to "Just follow this link to see the changes.", "http://link.to/websites" %></p>
   </p>

   <h3>Cheers,</h3>
   <h5 style="margin-left:1">The Emulator team</h2>
 </body>
</html>
