<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
   <h1>Hello</h1>
   <p>
     This is email is to notify that there has been some changes to the website <br>
   </p>
   <p>
     <%= link_to "Just follow this link to see the changes.", "http://link.to/websites" %>
   </p>
   <p>Thanks for joining and have a great day!</p>
 </body>
</html>
