<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
   <h1>Hello</h1>
   <p>
     This is email is to notify that there has been some changes to the website <br>
   </p>
   <p>
     Just follow this link to see the changes:
   </p>
   <a href=''>Click here</a> <%= link_to "changes", @changesurl %>
   <p>Thanks for joining and have a great day!</p>
 </body>
</html>
