<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   <style>
   body {
	   font-family: sans-serif;
   }
   
   td {
	   text-align: center;
   }
   </style>
 </head>
 <body>
   <h1>Bonjour</h1>
   
   <p>
     This is email is to notify that there has been some changes to the website:<br>
   </p>
   
   <table>
	   <thead>
		   	<tr>
				<td>Image Name</td>
				<td>% Difference</td>
			</tr>
	   </thead>
	   <tbody>
	       <tr>
			   <td><img src="test_image.png" width="100" height="100" /><br />test_image.png</td>
			   <td>37%</td>
	       </tr>
	   </tbody>
   </table>
   
   <p>
     <%= link_to "Just follow this link to see the changes.", "http://link.to/websites" %>
   </p>
 </body>
</html>
