
<nav id="navigationHeader">
  <div class="nav-wrapper container">
    <a href="#" id="navigationLogo">
      <%= image_tag 'skyLogo', size: "130x80", alt: "sky"%>
    </a>
    <ul id="nav-mobile" class="right">
      <li><a href="#" class="grey-text">History</a></li>
      <li><a href="#" class="grey-text">Sync</a></li>
    </ul>
  </div>
</nav>
